/* Submit */
.spinner-container-submit {
    width: 100vw ;
    height: 100vh;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(154, 160, 167, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 4px solid;
    border-color: white #7e7c7c #7e7c7c #7e7c7c;
    animation: rotating-spinner 1s linear infinite forwards;
}
@keyframes rotating-spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* tableLoading */
.first-icon {
    padding: 10px 0;
    border-radius: 14px;
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}