.hand {
    height: 100vh;
    background-image: url('../../Assets/wave.svg');
    background-position: center;
    background-size: cover;
}


.button-container {
    display: flex;
    background-color: #adaeaf66;
    position: fixed;
    bottom: 15px;
    right: 50%;
    transform: translateX(50%);
    width: 300px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(211, 207, 207, 0.35) 0px 5px 15px,
      rgba(152, 153, 155, 0.5) 5px 10px 15px;
    transition: all 0.5s;
  }
  .button-container:hover {
    width: 350px;
    background-color: rgba(173, 174, 175,0.3);
    transition: all 0.5s;
  }
  
  .button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 27px;
  }
  
  
.pag{
    width: 600px;
    height: 600px;
    display: none;
}
@media (min-width: 768px) {
    .pag{
        display: block;
    }
}
.animate__animated.animate__bounceIn{
    --animate-duration: 2s;
  }