.form {
    background-image: linear-gradient(
        110deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 50%,
        transparent 50%
        ),
        url("../../../Css/geranimo-WJkc3xZjSXw-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 33rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.custom-form {
    width: 50%;
    padding: 20px;
}
.form-custom {
    position: relative;
    margin-bottom: 20px;
}
.form-custom label,
.form-custom input {
    display: block;
}

.form-custom input, .form-custom select {
    padding: 15px;
    outline: none;
    border-radius: 6px;
    border: 0;
    background-color: white;
    width: 80%;
    border-bottom: 3px solid transparent;
    font-family: "Lato", sans-serif;
    box-shadow: 0 0 3px rgb(233, 233, 233) inset;


    
}
.form-custom select{
    padding: 15px !important;
}
.form-custom input:focus{
        box-shadow: 0 0 5px rgb(233, 233, 233) inset;
}
.form-custom input:focus:valid {
    border-bottom: 3px solid green;
}
.form-custom input:focus:not(:valid) {
    border-bottom: 3px solid orangered;
    
}
.form-custom label{
    position: absolute;
    left: 0px;
    top: -23px ;
    font-weight: bold;
    color:grey;
    transition: 0.3s;
    
}


.form-custom input:placeholder-shown + label {
    top: 20px;
    opacity: 0;
    visibility: hidden;
}


.form-custom select + label {
    top: 20px;
    opacity: 0;
    visibility: hidden;
}
.form-custom select.apparate + label {
    position: absolute;
    left: 0px;
    top: -23px ;
    font-weight: bold;
    color:grey;
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
}

.custom-form h1 {
    color: #06c44fcc;
}

/* Icons */
.icon-span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.my-icon {
    width: 220px;
    height: 220px;
    margin-top: -90px;
    padding: 3px;
    margin-right: 46px;
    align-self: end;
    animation: move-to-left 0.7s ease-in-out forwards;
}
@keyframes move-to-left {
    from {
    filter: blur(4px);
    transform: translateX(80%);
    opacity: 0;
    }
    to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    }
}

@media (prefers-reduced-motion) {
    .my-icon {
        animation:none;
    }
}
.foot-note {
    font-size: 0.9rem;
    align-self: flex-start;
    margin: 4px;
}
.foot-note > a {
    color:grey;
    font-weight: bold;
}
.email-icon{
    background-image: url(../../../Assets/icons8-email-64.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: calc(80% - 35px);
    transform: translate(-50%,-50%);
}
.pass-icon{
    background-image: url(../../../Assets/icons8-password-64.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: calc(80% - 35px);
    transform: translate(-50%,-50%);
}
.user-icon{
    background-image: url(../../../Assets/icons8-username-64.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: calc(80% - 35px);
    transform: translate(-50%,-50%);
}

@media (max-width:992px) {
.form {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8) 0%,rgba(255, 255, 255, 0.8) 100%),
        url("../../../Css/geranimo-WJkc3xZjSXw-unsplash.jpg");
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

}
.custom-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.form-custom, .form-custom input, .form-custom select{
    width: 100%;
    justify-content: center;
    display: flex;
}
.icon-span{
    width: 100%;
    flex-direction: column;
    
}
.foot-note{
    align-self: center;
}
.my-icon {
        width: 160px;
        height: 160px;
        margin: 0px 0 10px 0;
        align-self: center;
        display: none;
}
.email-icon {
    top: 50%;
    left: calc(100% - 35px);
    transform: translate(-50%,-50%);
}
.pass-icon {
    top: 50%;
    left: calc(100% - 35px);
    transform: translate(-50%,-50%);
}
.user-icon {
    top: 50%;
    left: calc(100% - 35px);
    transform: translate(-50%,-50%);
}
.google-wraper {
    width: 85%;
    justify-content: center;
}
}
