/* Global Rules */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Lato", sans-serif;
}
.container {
    margin: 0 auto;
}
.h-100 {
    height: 100vh;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row .col-12 {
    width: 100%;
}
.row .col-6 {
    width: 50%;
}