@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Rules */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "lato", "sans-serif" !important;
}

.h-100vh {
    height: 100vh !important;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row .col-12 {
    width: 100%;
}
.row .col-6 {
    width: 50%;
}
