.hand {
    height: 100%;
    background-image: url('../../../Assets/wave.svg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
}


.button-container {
    display: flex;
    background-color: rgba(100, 102, 104, 0.7);
    position: fixed;
    bottom: 5px;
    right: 50%;
    transform: translateX(50%);
    width: 300px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    transition: all 0.5s;
    z-index: 998;
  }
  .button-container:hover {
    width: 350px;
    background-color: rgba(22, 22, 22, 0.6);
    transition: all 0.5s;
  }
  
  .button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
    
  }
  
  .icon {
    font-size: 27px;
  }
  
  
.pag{
    width: 500px;
    height: 500px;
    display: none;
    
}
@media (min-width: 768px) {
    .pag{
        display: block;
    }
}
.animate__animated.animate__bounceIn{
    --animate-duration: 2s;
  }
.bt:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.bt:not(:hover){
  transition-duration: 0.3s;
}
.categories  .dropdown-menu.show{
  margin-top: 10px;
  display: grid !important;
  grid-template-columns:repeat(4, 1fr);
  gap: 3px !important;
  padding: 10px !important;
  width: 40rem;
  max-height: 20rem;
  overflow: auto;
  flex-wrap: wrap;
  
}
@media (max-width: 768px) {
  .categories  .dropdown-menu.show{
    width: 22rem;
    grid-template-columns: 1fr 1fr;
  }
}
input[type="search"].cat-search{
    padding-left: 70px;
}

/* Webkit browsers (Chrome, Safari, newer Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Internet Explorer */
input[type="number"] {
  -ms-appearance: none;
  appearance: none;
}

.nav-top .dropdown button {
  background-color: transparent !important;
}
